html, body {
	margin: auto;
	width: 1240px;
	background: #F3F3F3;
}
table {
	background: #FFFFFF;
}
.pure-table td {
    background-color: transparent;
}
.pure-table-odd td {
    background-color: #f2f2f2;
}
td.yes, td.no {
	text-align: center;
	width: 30px;
	height: 30px;
}
td.yes {
	background: green;
}

td.no {
	background: red;
}
